html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-text: #ffffff;
  --color-bg: #0e0e11;
  --color-link: #e04a6d;
  --color-btn: hsl(346, 71%, 58%);
  --color-btn-hover: hsl(346, 71%, 38%);
  --color-shadow-inset: rgba(255, 255, 255, 0.15);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  box-shadow: 0px 1px 0px var(--color-shadow-inset) inset;
  background-color: var(--color-btn);
  color: var(--color-text);
  border: none;
  padding: 20px 40px;
  border-radius: 2px;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: var(--color-btn-hover);
}
